$main-color:#24749D;
$white: #fff;

@mixin backgroundDefault($imgpath,$position:50% 50%,$repeat: no-repeat,$size: cover) {
   background: transparent url(#{$imgpath}) $repeat $position;
   background-size: $size;
}
.header-default {
   @include backgroundDefault('../assets/images/header-img.jpg');
}
.header-overlay {
    background-color: $main-color;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.9;
}

$transparent: transparent;

.navbar-default {
    background-color: $transparent;    
    .toolbar-background-md {
        background: $transparent;
    }
}

$title-font-family: helvetica;
$title-size: 3rem;
$title-color: $white;

.toolbar-title-md {
    font-family: $title-font-family;
    font-size: $title-size;
    text-align: center;
    color: $white;
}

.white {
    color: $white;
}

.button-submit {
    background-color: $main-color;
    opacity: 1;
    margin: auto;
    width: 100%;
    display: block;
    font-size: 2.5rem;
    padding: 2rem;
    border-radius: 6px;
    margin-top: 3rem;
}

.center {
    text-align: center;
}